* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
}
body {
  background-color: ;
}
.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: bisque;
}

.header {
  border: 0.5px solid grey;
  margin: 20px;
  transition: background 1s;
}
.header:hover {
  background-color: darkcyan;
  color: white;
}
.imageholder:hover {
  background-color: darkcyan;
}
.content:hover {
  background-color: darkcyan;
  color: white;
}
.imageholder {
  border: 0.5px solid grey;
  margin: 20px;
}
.content {
  border: 0.5px solid grey;
  margin: 20px;
  transition: background 1s;
}
.imageholder p {
  background-color: azure;
  margin: 40px;
  margin-top: 1;
  margin-bottom: 4;
  transition: background-color 1s;
}
.imageholder img {
  border-radius: 50%;
}
